@import '~@gisatcz/ptr-core/lib/styles/_variables';

.ptr-map-wrapper {
	position: relative;
	width: 100%;
	height: 100%;
}

.ptr-map-wrapper::after {
	content: '';
	border: 2px solid transparent;
	z-index: 2;
	pointer-events: none;
	@include positionFill;
}

.ptr-map-wrapper.active::after {
	border-color: var(--accent50);
}

/* header */
.ptr-map-wrapper-header {
	background: rgba(var(--base100rgb), 0.6);
	color: var(--base0);
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	z-index: 3;
	min-height: 2rem;
	max-width: 100%;
}

.ptr-map-wrapper.active .ptr-map-wrapper-header {
	background: var(--accent50);
}

.ptr-map-wrapper-header > div:not(:last-child) {
	border-right: 1px solid rgba(var(--base0rgb), 0.25);
}

.ptr-map-wrapper-title {
	padding: 0 0.75rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

// close button
.ptr-map-wrapper-header .ptr-button {
	padding: 0 0.15rem;
	border-radius: 0;
}

.ptr-map-wrapper-header .ptr-button:focus::after {
	border-radius: 0;
}
